@import url('../fonts/Fira_code/fira_code.css');

html, pre {
  font-family: 'Fira Code';
  color: white;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.js-emoji {
  position: relative;
}

.js-emoji:not(:empty)::after {
  content: 'TS';
  position: absolute;
  bottom: 2px;
  color: white;
  right: 4px;
  font-size: 0.5rem;
  font-weight: bold;
  line-height: 0.7rem;
}